@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15 23 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Loader styling here */
@layer utilities {
  .svg-spinner {
    @apply w-[3.25em];
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  .circle-spinner {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -125px;
    }
  }
}

/* API KEY input styling here */
.inputSection {
  overflow: hidden; /* Ensure content doesn't overflow */
  max-width: 0; /* Start with 0 width */
  transition: max-width 0.3s ease; /* Smooth transition effect */
}

.inputSection.open {
  max-width: 200px; /* Width of the input section when open */
}